<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<header>
    <img id="headerimg" src="/img/mainLogo.png" alt="메인로고" class="headerlink">
</header>

        <section>
            <div class="border">
                <article>
                    <h3>Login</h3>
                </article>
            <form action="/login" method="post">
                <article>
                    <div class="id">
                        <input type="text" id="userID" name="userID" placeholder="아이디"><br>
                    </div>
                </article>

                <article>
                    <div class="pwd">
                        <input type="password" id="userPassword" name="userPassword" placeholder="비밀번호"><br><br>
                    </div>
                </article>

                <article>
                    <div class="check">
                        <input type="checkbox" > 아이디 저장 &nbsp;
                        <input type="checkbox" > 자동 로그인
                    </div>
                </article>

                <article>
                    <div class="button">
                        <input type="submit" id="buttonbox" value="로그인">
                    </div>
                </article>

                <article>
                    <div class="link">
                        <a href="find_id.html">아이디 찾기</a>
                        <a href="find_pwd.html">비밀번호 찾기</a>
                        <a href="register.html">회원가입</a>
                    </div>
                </article>
            </form>
            </div>
        </section>
        <footer>
            <div class="footer">
                <!--<a class="footerlink" href="홈페이지"><img id="footerimg" src="Logo.png">&nbsp;&nbsp;</a> -->
                <img id="footerimg" src="/img/mainLogo.png"> &nbsp;&nbsp;
                <span class="footeradd"> www.DGMfitness.com</span>
            </div>
        </footer>

</body>
</html>