body {
    width: 100%; /* 화면 전체 너비로 설정 */
    height: 100%; /* 화면 전체 높이로 설정 */
    font-size: 1em; /* 기본 폰트 크기 설정 */

}

.header{
    width: 100%;
    height: 30%;
    display: flex;
}

.A{
    transform: scale(0.5);
}

.login {/*버튼이미지 삽입 예정*/
    width: 15%;
    font-size: 1.5em;
    border-radius: 8.8px;
    background-color:rgba(6, 73, 121, 0.9); /* 투명도 조정 */
    text-decoration: none;

}
#login{
    margin-left: 20%;
    margin-right: -4%;
}
#welcome-message {
    display: none; /* 초기에는 숨겨둡니다. */
}
.login_after{
    display:none;/* 초기에는 숨겨둡니다. */
}
.login a{
    text-decoration: none;
    font-weight: bold;
    color:rgba(230,240, 241, 1);


}


.login a:hover {
    text-decoration: none;
}


.background {

    width: 100%;
    height: 394px;
    background-size: cover;
}

.bgimg{
    width: 100%;
}

.top-container {

    width:100%; height:10%;
    padding-left: 25%;

}

.top-container nav ul {

    list-style: none;
    display: flex; /* 가로로 나란히 배치 */
    margin: 0;
    padding: 0;
}

.top-container nav ul li {
    font-size: 1.5em;

    padding-right: 6%;
    color:#064979;
}


nav a {
    text-decoration: none;
    color:#064979;
    font-weight: bold;
}

a:hover {
    color: #72838f; /* 호버 시에 링크 색상을 빨간색으로 변경 */
}


main {
    margin: 20px;
    width:1320px; height:645px;
    margin-left:400px;
}
main .content{
    width:289px; height:418px;
    border-radius:5px;
    margin-right:19px;
    box-shadow: 2px 2px 10px rgba(55, 55, 55, 0.3);

}

.content-container {
    display: flex; /* 가로로 나열 */
    justify-content: space-between; /* 요소들 사이 간격 띄우기 */
}

.content {
    flex-basis: calc(33.33% - 10px); /* 가로로 3개씩 나열하고 간격을 제공 */
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}


footer {
    width:100%; height:100%;
    text-align: center;
    background-color:  #BAD6D0;

}

footer p span{
    margin-right:25px;
    margin-left:25px;


}

footer p {
    line-height: 2.5;

}

input[type="button"] {
    margin-right: 10px;
}



